<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PA</title>
    <link rel="stylesheet" media="all" href="/public/css/main.css">
</head>
<body>
    <div class="container-fluid">
        {{> header }}
        
        {{> sidenav }}

        {{{ body }}}

        {{> footer }}
    </div>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
</body>
</html>