<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PA</title>
    <link rel="stylesheet" media="all" href="/public/css/main.css">
</head>
<body>
	{{> nav }}

    {{{body}}}
</body>
</html>